/* ------------------ SHOP ARCHIVE -------------------*/

.woocommerce .woocommerce-ordering select {
	padding: 0.5rem 0.25rem;
}

.woocommerce a.button.add_to_cart_button.product_type_simple {
	background-color: #339606;
	color: #fff;
}

.woocommerce a.button.add_to_cart_button.product_type_simple:hover,
.woocommerce a.button.add_to_cart_button.product_type_simple:focus {
	background-color: #234a12;
}

.woocommerce a.button.add_to_cart_button.product_type_variable {
	background-color: #a3a302;
	color: #fff;
}

.woocommerce a.button.add_to_cart_button.product_type_variable:hover,
.woocommerce a.button.add_to_cart_button.product_type_variable:focus {
	background-color: #707001;
}

.woocommerce span.onsale {
	background-color: #e336da;
}

/* ------------------ PRODUCT SINGLE -------------------*/

.woocommerce button.button.alt {
	background-color: #339606 !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
	padding-top: 0.5rem !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs::before {
	height: 1px;
	border-bottom: none !important;
	bottom: -1px !important;
	box-shadow: -1px -1px 5px rgba(75, 18, 72, 0.2);
}

.woocommerce div.product .woocommerce-tabs ul.tabs li {
	border: none !important;
	border-radius: 0 !important;
	color: #4b1248 !important;
	background-color: #f0c27b !important;
	margin-inline: 0.25rem;
	box-shadow: -1px -1px 5px rgba(75, 18, 72, 0.2);
}

.woocommerce div.product .woocommerce-tabs ul.tabs li a {
	color: #4b1248 !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
	background-color: #fff !important;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li::before,
.woocommerce div.product .woocommerce-tabs ul.tabs li::after {
	content: none !important;
}

.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
	max-width: unset;
}
